/**
 * controls bem module
 */

.controls {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .2rem 1rem;
    width: 50rem;
    max-width: 100%;
    margin-left: auto;

    label {
        margin-right: auto;
    }

    input,
    .switch {
        margin-left: auto;
    }

    .switch {
        margin-right: 0;
    }

    [type='text'],
    [type='url'] {
        overflow: hidden;
        width: 100%;
        border: none;
        text-align: right;
        color: $color-disabled;
        opacity: .5;
        text-overflow: ellipsis;

        &:focus {
            outline: none;
            color: $color-off-black;
            opacity: 1;
        }
    }

    [type='checkbox'] {
        position: absolute;
        opacity: 0;
    }

    [type='url']:invalid {
        outline: 1px solid $color-alert;
    }

    [id='design-upload'],
    [for='design-upload'] {
        display: none;
    }

    [id='add-upload-image']:checked {
        ~ [id='design-upload'],
        ~ [for='design-upload'] {
            display: block;
        }
    }
}
